body {
    background-color: white !important;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.btn-primary {
    background-color: #4a00ff !important;
}

.input:focus {
    outline: none !important;
    border-color: #4a00ff !important;
}

.input {
    color: #64748b;
}

input, button, label {
    font-family: "Geist", sans-serif !important;
}